$font:-apple-system,BlinkMacSystemFont,Nanum Gothic,NanumGothic,Malgun Gothic,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif,Arial,Verdana;
body{font-family:$font}
*{list-style:none;margin:0;padding:0;}
ul,li{list-style:none;}
.custom-table{width:800px;box-sizing:content-box;
  td,
  th{border:1px solid #ddd;position:relative;font-size:13px;}
  th{background:#fafafa;height:30px;}
  td{height:50px;text-align:left;padding-left:20px;
    &[colspan]{background:#fefefe}
    .answer{display:none;}
    &:not([colspan]){cursor:pointer;}
    &.solved{background:#afa;
      .answer{display:block;font-size:13px;color:#000;}
    }
    &.active{background:#ffa;}
    .up{font-size:11px;position:absolute;left:0;top:0;}
  }
  .show-answer .answer{display:block;font-size:11px;color:#aaa;}
}
.answer-list{width:800px;
  &:after{content:"";display:block;clear:both;list-style:none;}
  li{float:left;width:calc(100% / 6 - 2px);list-style:none;margin:1px;border:1px solid #ddd;border-radius:3px;cursor:pointer;font-size:13px;
    &.active{background:#ffa;}
    &.solved{background:#afa;}
  }
}
.msg-block{width:800px;}
.input-group{margin:5px 0;}
.full-wrap{position:fixed;left:0;right:0;top:0;bottom:0;text-align:center;overflow:auto}
span.middle{display:inline-block;vertical-align:middle;width:0;height:100%;
  +*{display:inline-block;vertical-align:middle;}
}
.btn+.btn{margin-left:3px;}