<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>주기율표 외우기 By 조동회 교수님</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <style>
    *{list-style:none;margin:0;padding:0;}
    ul,li{list-style:none;}
    .full-wrap{position:fixed;left:0;right:0;top:0;bottom:0;text-align:center;overflow:auto}
    span.middle{display:inline-block;vertical-align:middle;width:0;height:100%;}
    span.middle+*{display:inline-block;vertical-align:middle;}
    .custom-table{width:800px;border:2px solid #666;box-sizing:normal;}
    .custom-table td,
    .custom-table th{border:1px solid #ddd;padding:10px;width:80px;position:relative;transition:.3s;}
    .custom-table th[colspan],
    .custom-table td[colspan]{background:#fafafa;}
    .custom-table td:not([colspan]){cursor:pointer;}
    .custom-table td.active{background:#ffa;}
    .custom-table td .up{font-size:11px;position:absolute;left:0;top:0;}
    .custom-table td .up{font-size:11px;position:absolute;left:0;top:0;}
    .custom-table .answer{display:none;}
    .custom-table td.solved{background:#afa;}
    .custom-table td.solved .answer{display:block;}
    .matching-list{width:800px;}
    .matching-list:after{content:"";display:block;clear:both;list-style:none;}
    .matching-list li{float:left;width:calc(200px - 2px);list-style:none;margin:1px;border:1px solid #ddd;border-radius:3px;cursor:pointer;}
    .matching-list li.active{background:#ffa;}
    .matching-list li.solved{background:#afa;}
    .msg-block{width:800px;}
    .input-group{margin:5px 0;}
  </style>
</head>
<body>
  <div id="app">
    <div class="full-wrap">
      <span class="middle"></span><div>
        <quesition v-if="eventBus.qaType === null"></quesition>
        <matching-qa v-else-if="eventBus.qaType === 0"></matching-qa>
        <input-qa v-else-if="eventBus.qaType === 1"></input-qa>
        <div class="msg-block alert alert-danger  " v-if="eventBus.msg" v-html="eventBus.msg" role="alert" />
      </div>
    </div>
  </div>
  <script>
    const eventBus = new Vue({
      data: {
        qaType: null,
        answer: [
          'H / Hydrogen',
          'He / Helium',
          'Li / Lithium',
          'Be / Beryllium',
          'B / Boron',
          'C / Carbon',
          'N / Nitrogen',
          'O / Oxygen',
          'F / Fluorine',
          'Ne / Neon',
          'Na / Sodium',
          'Mg / Magnesium',
          'Al / Aluminum',
          'Si / Silicon',
          'P / Phosphorous',
          'S / Sulfur',
          'Cl / Chlorine',
          'Ar / Argon',
          'K / Potassium',
          'Ca / Calcium',
          'Ga / Gallium',
          'Ge / Germanium',
          'As / Arsenic',
          'Se / Selenium',
          'Br / Bromine',
          'Kr / Krypton',
          'Rb / Rubidium',
          'Sr / Strontium',
          'In / Indium',
          'Sn / Tin',
          'Sb / Antimony',
          'Te / Tellurium',
          'I / Iodine',
          'Xe / Xenon',
          'Cs / Cesium',
          'Ba / Barium',
          'Tl / Thallium',
          'Pb / Lead',
          'Bi / Bismuth',
          'Po / Polonium',
          'At / Astatine',
          'Rn / Radon',
          'Fr / Francium',
          'Ra / Radium',
        ],
        randed: [],
        selected: null,
        solved: [],
        listSolved: [],
        listSelected: null,
        msg: null
      },
      methods: {
        resetSolve () {
          this.solved = this.answer.slice().map(() => null)
          this.listSolved = this.solved.slice()
        },
        listSelect (listK, v) {
          const k = this.selected
          this.msg = ''
          if (listK === this.listSelected) {
            this.listSelected = null
            return
          }
          if (k === null) {
            this.msg = '주기율표와 원소를 같이 선택해주세요'
            this.listSelected = ~~listK
          } else if (this.answer[k] === v) {
            this.$set(this.solved, k , true)
            this.$set(this.listSolved, listK , true)
            this.listSelected = null
          } else {
            this.msg = `${v} : 틀렸습니다`
          }
        },
        answerSelect (k, v) {
          this.msg = ''
          if (this.randed[this.listSelected] === v) {
            this.$set(this.solved, k, true)
            this.$set(this.listSolved, this.listSelected, true)
            this.listSelected = null
          } else {
            this.msg = `${v} : 틀렸습니다`
          }
        },
        randList () {
          const list = this.answer.slice()
          const temp = []
          while (list.length) {
            const len = list.length
            const idx = ~~(Math.random() * len)
            const pop = list.splice(idx, 1)
            temp.push(pop[0])
          }
          this.randed = temp
        }
      }
    })
    const tableTemplate = `
      <table class="custom-table">
        <colgroup>
          <col width="10%" />
          <col />
          <col />
          <col />
          <col />
          <col />
          <col />
          <col />
          <col />
        </colgroup>
        <thead>
          <tr>
            <th scope="col">번호</th>
            <th scope="col" colspan="8"></th>
          </tr>
        </thead>
        <tbody ref="tbody">
          <tr>
            <td scope="row">1</td>
            <td :class="{active: eventBus.selected === 0, solved: eventBus.solved[0]}"
                :num="0"
                :answer="answer[0]"><span class="up">1</span><span class="answer" v-html="answer[0].replace('/', enter)" /></td>
            <td colspan="6"></td>
            <td :class="{active: eventBus.selected === 1, solved: eventBus.solved[1]}"
                :num="1"
                :answer="answer[1]"><span class="up">2</span><span class="answer" v-html="answer[1].replace('/', enter)" /></td>
          </tr>
          <tr>
            <td scope="row">2</td>
            <td :class="{active: eventBus.selected === 2, solved: eventBus.solved[2]}"
                :num="2"
                :answer="answer[2]"><span class="up">3</span><span class="answer" v-html="answer[2].replace('/', enter)" /></td>
            <td :class="{active: eventBus.selected === 3, solved: eventBus.solved[3]}"
                :num="3"
                :answer="answer[3]"><span class="up">4</span><span class="answer" v-html="answer[3].replace('/', enter)" /></td>
            <td class="table-active" :class="{active: eventBus.selected === 4, solved: eventBus.solved[4]}"
                :num="4"
                :answer="answer[4]"><span class="up">5</span><span class="answer" v-html="answer[4].replace('/', enter)" /></td>
            <td :class="{active: eventBus.selected === 5, solved: eventBus.solved[5]}"
                :num="5"
                :answer="answer[5]"><span class="up">6</span><span class="answer" v-html="answer[5].replace('/', enter)" /></td>
            <td :class="{active: eventBus.selected === 6, solved: eventBus.solved[6]}"
                :num="6"
                :answer="answer[6]"><span class="up">7</span><span class="answer" v-html="answer[6].replace('/', enter)" /></td>
            <td :class="{active: eventBus.selected === 7, solved: eventBus.solved[7]}"
                :num="7"
                :answer="answer[7]"><span class="up">8</span><span class="answer" v-html="answer[7].replace('/', enter)" /></td>
            <td :class="{active: eventBus.selected === 8, solved: eventBus.solved[8]}"
                :num="8"
                :answer="answer[8]"><span class="up">9</span><span class="answer" v-html="answer[8].replace('/', enter)" /></td>
            <td :class="{active: eventBus.selected === 9, solved: eventBus.solved[9]}"
                :num="9"
                :answer="answer[9]"><span class="up">10</span><span class="answer" v-html="answer[9].replace('/', enter)" /></td>
          </tr>
          <tr>
            <td scope="row">3</td>
            <td :class="{active: eventBus.selected === 10, solved: eventBus.solved[10]}"
                :num="10"
                :answer="answer[10]"><span class="up">11</span><span class="answer" v-html="answer[10].replace('/', enter)" /></td>
            <td :class="{active: eventBus.selected === 11, solved: eventBus.solved[11]}"
                :num="11"
                :answer="answer[11]"><span class="up">12</span><span class="answer" v-html="answer[11].replace('/', enter)" /></td>
            <td :class="{active: eventBus.selected === 12, solved: eventBus.solved[12]}"
                :num="12"
                :answer="answer[12]"><span class="up">13</span><span class="answer" v-html="answer[12].replace('/', enter)" /></td>
            <td class="table-active" :class="{active: eventBus.selected === 13, solved: eventBus.solved[13]}"
                :num="13"
                :answer="answer[13]"><span class="up">14</span><span class="answer" v-html="answer[13].replace('/', enter)" /></td>
            <td :class="{active: eventBus.selected === 14, solved: eventBus.solved[14]}"
                :num="14"
                :answer="answer[14]"><span class="up">15</span><span class="answer" v-html="answer[14].replace('/', enter)" /></td>
            <td :class="{active: eventBus.selected === 15, solved: eventBus.solved[15]}"
                :num="15"
                :answer="answer[15]"><span class="up">16</span><span class="answer" v-html="answer[15].replace('/', enter)" /></td>
            <td :class="{active: eventBus.selected === 16, solved: eventBus.solved[16]}"
                :num="16"
                :answer="answer[16]"><span class="up">17</span><span class="answer" v-html="answer[16].replace('/', enter)" /></td>
            <td :class="{active: eventBus.selected === 17, solved: eventBus.solved[17]}"
                :num="17"
                :answer="answer[17]"><span class="up">18</span><span class="answer" v-html="answer[17].replace('/', enter)" /></td>
          </tr>
          <tr>
            <td scope="row">4</td>
            <td :class="{active: eventBus.selected === 18, solved: eventBus.solved[18]}"
                :num="18"
                :answer="answer[18]"><span class="up">19</span><span class="answer" v-html="answer[18].replace('/', enter)" /></td>
            <td :class="{active: eventBus.selected === 19, solved: eventBus.solved[19]}"
                :num="19"
                :answer="answer[19]"><span class="up">20</span><span class="answer" v-html="answer[19].replace('/', enter)" /></td>
            <td :class="{active: eventBus.selected === 20, solved: eventBus.solved[20]}"
                :num="20"
                :answer="answer[20]"><span class="up">31</span><span class="answer" v-html="answer[20].replace('/', enter)" /></td>
            <td class="table-active" :class="{active: eventBus.selected === 21, solved: eventBus.solved[21]}"
                :num="21"
                :answer="answer[21]"><span class="up">32</span><span class="answer" v-html="answer[21].replace('/', enter)" /></td>
            <td class="table-active" :class="{active: eventBus.selected === 22, solved: eventBus.solved[22]}"
                :num="22"
                :answer="answer[22]"><span class="up">33</span><span class="answer" v-html="answer[22].replace('/', enter)" /></td>
            <td :class="{active: eventBus.selected === 23, solved: eventBus.solved[23]}"
                :num="23"
                :answer="answer[23]"><span class="up">34</span><span class="answer" v-html="answer[23].replace('/', enter)" /></td>
            <td :class="{active: eventBus.selected === 24, solved: eventBus.solved[24]}"
                :num="24"
                :answer="answer[24]"><span class="up">35</span><span class="answer" v-html="answer[24].replace('/', enter)" /></td>
            <td :class="{active: eventBus.selected === 25, solved: eventBus.solved[25]}"
                :num="25"
                :answer="answer[25]"><span class="up">36</span><span class="answer" v-html="answer[25].replace('/', enter)" /></td>
          </tr>
          <tr>
            <td scope="row">5</td>
            <td :class="{active: eventBus.selected === 26, solved: eventBus.solved[26]}"
                :num="26"
                :answer="answer[26]"><span class="up">37</span><span class="answer" v-html="answer[26].replace('/', enter)" /></td>
            <td :class="{active: eventBus.selected === 27, solved: eventBus.solved[27]}"
                :num="27"
                :answer="answer[27]"><span class="up">38</span><span class="answer" v-html="answer[27].replace('/', enter)" /></td>
            <td :class="{active: eventBus.selected === 28, solved: eventBus.solved[28]}"
                :num="28"
                :answer="answer[28]"><span class="up">49</span><span class="answer" v-html="answer[28].replace('/', enter)" /></td>
            <td :class="{active: eventBus.selected === 29, solved: eventBus.solved[29]}"
                :num="29"
                :answer="answer[29]"><span class="up">50</span><span class="answer" v-html="answer[29].replace('/', enter)" /></td>
            <td class="table-active" :class="{active: eventBus.selected === 30, solved: eventBus.solved[30]}"
                :num="30"
                :answer="answer[30]"><span class="up">51</span><span class="answer" v-html="answer[30].replace('/', enter)" /></td>
            <td class="table-active" :class="{active: eventBus.selected === 31, solved: eventBus.solved[31]}"
                :num="31"
                :answer="answer[31]"><span class="up">52</span><span class="answer" v-html="answer[31].replace('/', enter)" /></td>
            <td :class="{active: eventBus.selected === 32, solved: eventBus.solved[32]}"
                :num="32"
                :answer="answer[32]"><span class="up">53</span><span class="answer" v-html="answer[32].replace('/', enter)" /></td>
            <td :class="{active: eventBus.selected === 33, solved: eventBus.solved[33]}"
                :num="33"
                :answer="answer[33]"><span class="up">54</span><span class="answer" v-html="answer[33].replace('/', enter)" /></td>
          </tr>
          <tr>
            <td scope="row">6</td>
            <td :class="{active: eventBus.selected === 34, solved: eventBus.solved[34]}"
                :num="34"
                :answer="answer[34]"><span class="up">55</span><span class="answer" v-html="answer[34].replace('/', enter)" /></td>
            <td :class="{active: eventBus.selected === 35, solved: eventBus.solved[35]}"
                :num="35"
                :answer="answer[35]"><span class="up">56</span><span class="answer" v-html="answer[35].replace('/', enter)" /></td>
            <td :class="{active: eventBus.selected === 36, solved: eventBus.solved[36]}"
                :num="36"
                :answer="answer[36]"><span class="up">81</span><span class="answer" v-html="answer[36].replace('/', enter)" /></td>
            <td :class="{active: eventBus.selected === 37, solved: eventBus.solved[37]}"
                :num="37"
                :answer="answer[37]"><span class="up">82</span><span class="answer" v-html="answer[37].replace('/', enter)" /></td>
            <td :class="{active: eventBus.selected === 38, solved: eventBus.solved[38]}"
                :num="38"
                :answer="answer[38]"><span class="up">83</span><span class="answer" v-html="answer[38].replace('/', enter)" /></td>
            <td :class="{active: eventBus.selected === 39, solved: eventBus.solved[39]}"
                :num="39"
                :answer="answer[39]"><span class="up">84</span><span class="answer" v-html="answer[39].replace('/', enter)" /></td>
            <td class="table-active" :class="{active: eventBus.selected === 40, solved: eventBus.solved[40]}"
                :num="40"
                :answer="answer[40]"><span class="up">85</span><span class="answer" v-html="answer[40].replace('/', enter)" /></td>
            <td :class="{active: eventBus.selected === 41, solved: eventBus.solved[41]}"
                :num="41"
                :answer="answer[41]"><span class="up">86</span><span class="answer" v-html="answer[41].replace('/', enter)" /></td>
          </tr>
          <tr>
            <td scope="row">7</td>
            <td :class="{active: eventBus.selected === 42, solved: eventBus.solved[42]}"
                :num="42"
                :answer="answer[42]"><span class="up">87</span><span class="answer" v-html="answer[42].replace('/', enter)" /></td>
            <td :class="{active: eventBus.selected === 43, solved: eventBus.solved[43]}"
                :num="43"
                :answer="answer[43]"><span class="up">88</span><span class="answer" v-html="answer[43].replace('/', enter)" /></td>
            <td colspan="6"></td>
          </tr>
        </tbody>
      </table>
    `
    Vue.component('quesition', {
      template: `
        <div>
          <h3>문제 유형을 선택해주세요</h3>
          <a href="#" class="btn btn-outline-primary" @click="eventBus.qaType = 0">매칭 문제</a>
          <a href="#" class="btn btn-outline-success" @click="eventBus.qaType = 1">입력 문제</a>
        </div>
      `
    })
    Vue.component('matching-qa', {
      template: `
        <div>
          <matching-table />
          <matching-list />
        </div>
      `
    })
    Vue.component('matching-table', {
      template: tableTemplate,
      data () {
        return {
          answer: eventBus.answer,
          enter: '<br />'
        }
      },
      mounted () {
        this.$on('select', (num, answer) => {
          if (eventBus.listSelected === null) {
            if (eventBus.selected === ~~num) {
              eventBus.selected = null
              eventBus.msg = ''
            } else {
              eventBus.selected = ~~num
              eventBus.msg = '주기율표와 원소를 같이 선택해주세요'
            }
          } else {
            eventBus.answerSelect(num, answer)
          }
        })
        this.$refs.tbody.querySelectorAll('td[num]').forEach(v => {
          const num = v.getAttribute('num')
          const answer = v.getAttribute('answer')
          v.onclick = e => { this.$emit('select', num, answer) }
        })
      }
    })
    Vue.component('matching-list', {
      template: `
        <ul class="matching-list">
          <li v-for="(v, k) in eventBus.randed" :key="k" v-html="v" @click="eventBus.listSelect(k, v)" :class="{active: eventBus.listSelected == k, solved: eventBus.listSolved[k]}" />
        </ul>
      `,
      created () {
        eventBus.randList()
      }
    })
    Vue.component('input-qa', {
      template: `
        <div>
          <input-table />
          <input-field v-if="fieldState !== null" />
        </div>
      `,
      data () {
        return {
          fieldState: null
        }
      }
    })
    Vue.component('input-table', {
      template: tableTemplate,
      data () {
        return {
          answer: eventBus.answer,
          enter: '<br />'
        }
      },
      mounted () {
        this.$on('select', (num, answer) => {
          if (eventBus.selected === ~~num) {
            this.$parent.fieldState = null
            eventBus.selected = num
            eventBus.msg = ''
          } else {
            this.$parent.fieldState = {num, answer}
            eventBus.selected = ~~num
            eventBus.msg = '원소기호와 원소이름을 입력해주세요'
            this.$nextTick(() => {
              document.getElementById('field-focus').focus()
            })
          }
        })
        this.$refs.tbody.querySelectorAll('td[num]').forEach(v => {
          const num = v.getAttribute('num')
          const answer = v.getAttribute('answer')
          v.onclick = e => { this.$emit('select', num, answer) }
        })
      },
      props: ['fieldState']
    })
    Vue.component('input-field', {
      template: `
        <form action="" method="post" @submit.prevent="answerCheck">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="원소기호" v-model="k" id="field-focus">
            <input type="text" class="form-control" placeholder="원소이름" v-model="v">
            <div class="input-group-prepend">
              <button class="btn btn-outline-secondary" type="submit">검사</button>
            </div>
          </div>
        </form>
      `,
      data () {
        return {
          k: '',
          v: ''
        }
      },
      methods: {
        answerCheck () {
          const {num, answer} = this.$parent.fieldState
          const [k, v] = answer.split(' / ')
          if (k === this.k && v === this.v) {
            eventBus.$set(eventBus.solved, num, true)
            eventBus.msg = ''
            this.$parent.fieldState = null
          } else {
            eventBus.msg = '틀렸습니다.'
          }
        }
      }
    })
    new Vue({
      el: '#app',
      created () {
        eventBus.resetSolve()
      }
    })
  </script>
</body>
</html>